:root {
  /* Colors */
  --clr-heading-primary: #212121;
  --clr-heading-secondary: #1f1c39;
  --clr-text-primary: #797979;
  --clr-text-secondary: #909090;
  --clr-footer-bg: #333333;
  --clr-button-primary: #2d9da6;
  --clr-button-secondary: #5bc2be;
  --clr-about-primary: #eeeeee;
  --clr-about-heading: #454545;
  --clr-accent: #fae5de;
  --clr-primary: #ffffff;

  /* Fonts */
  --ff-text: "Montserrat", sans-serif;
  --ff--heading: "Prompt", sans-serif;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --fs-heading-1: 3.85rem;
  --fs-heading-2: 2.5rem;
  --fs-body: 1.125rem;
  --fs-text: 1.875rem;
  --fs-nav: 1.315rem;
  --fs-button: 1.15rem;
}

/* Resets -Normali */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-text);
  line-height: 1.16;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

img {
  max-width: 100%;
}

/* Home styling goes here */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-about-primary);
  padding: 1.3rem 1.18rem;
  box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}

.logo {
  width: 6.25rem;
  cursor: pointer;
}

.nav-menu {
  /* display: inline-block; */
  background-color: var(--clr-about-primary);
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.8rem 1rem;
  width: 100%;
  height: 60svh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav-menu__items {
  text-align: center;
}

.nav-menu__items li {
  margin-bottom: 1.8rem;
  letter-spacing: 1.3px;
  font-size: var(--fs-nav);
  font-weight: var(--fw-600);
}

.nav-menu__items a {
  color: var(--clr-heading-primary);
}

.action-btn {
  text-align: center;
}

.menu {
  font-size: 2rem;
  color: var(--clr-heading-secondary);
}

#open {
  display: block;
}

#close {
  text-align: right;
  display: block;
}

.btn {
  /* width: 45%; */
  padding: 0.8rem 2rem;
  font-family: inherit;
  font-size: var(--fs-button);
  font-weight: 600;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.signin-btn {
  margin-right: 1rem;
  background-color: var(--clr-button-primary);
  color: var(--clr-about-primary);
}

.signout-btn {
  border: 1px solid var(--clr-button-primary);
  color: var(--clr-button-primary);
  background-color: transparent;
}


.hero{
  background-image: url("./assets/heroImage.jpg");
  min-height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  
}
/* BreakPoint for desktop */

@media (min-width: 40em) {
  header {
    padding: 1.8rem 2.75rem;
  }

  .logo {
    width: 9.25rem;
  }

  #close {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    position: static;
    padding: unset;
    height: unset;
    width: unset;
    box-shadow: none;
    border-radius: unset;
  }

  #open {
    display: none;
  }

  .nav-menu__items {
    display: flex;
    gap: 1.7rem;
    padding-top: 1rem;
  }

  .nav-menu__items li::after {
    content: "";
    width: 0;
    display: block;
    height: 0.3rem;
    margin-top: 0.45rem;
    background-color: var(--clr-button-secondary);
    transition: 0.5s ease-in-out;
  }

  .nav-menu__items li:hover::after {
    width: 100%;
  }
}
